<h1 class="text-primary">Creating Component</h1>
<p class="text-danger">To create Component use @ and Decorator Component from angular core<br>
Inside using selector,template,style<br>
 @Component<br>
  selector:'app-comp'<br>
  template:'your html'<br>
  style:`your css`<br>
</p>
<pre>
  import Component form '@angular/core'
  @Component
  selector:&lt;h3&gt;Component Created&lt;/h3&gt;
  style:`[]`
  export class FirstComponet
</pre>

<!--<div class="myClass">-->
  <!--hi welcome css-->
<!--</div>-->

<!--<nav>-->
  <!--<ul>-->
    <!--<li>-->
      <!--Hi how are-->
    <!--</li>-->

  <!--</ul>-->
<!--</nav>-->
<!--<h2>Hi I am h2</h2>-->
<!--<div class="style">Hi I am Div</div>-->
<!--<a>Hi Friend</a>-->
