/* You can add global styles to this file, and also import other style files */
@import url("assets/css/bootstrap.min.css");
@import url("assets/css/sb-admin.css");
@import url("assets/font-awesome/css/font-awesome.min.css");
ul li{
  cursor: pointer;
}
.contentBody{
  /*position: fixed;*/
  height: 100%;
}
.str{
  color: #00796B;
}
.kwd{
  color: #D81B60;
}
.out{
  color: #6413e2;
  margin-left: 50px;
}
.txt{
  color: #85800f;
  font-size: 20px;
  margin: 10px;
}
.pl10{
  padding-left: 10px;
}
hr.vertical
{
  width: 0px;
  height: 100%; /* or height in PX */
}
.linStike{
  text-decoration: line-through;
}
.col-center-block {
  float: none;
  margin: 0 auto;
  /* margin-left: auto; margin-right: auto; */
}
.mt-xs-15{
  margin-top: 15%;
}
body{
  overflow-x: hidden;
}
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
